body {
    background-color: #ecece9;
    /* add my own fonts (inter or poppins)! */
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome (thanks Inter!) */
    /* change margins after centering */
    margin: 0px;
}

#logo_header {
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    font-size: 7vw;
    margin: 40px

}

#logo_footer {
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    font-size: 2vw;
    margin: 0px;
}

ul {
    margin: 0px;
}

#filter_month_ul {
    list-style: none;
    text-decoration: none;
    padding: 0px;
}

.filtermonth {
    color: #0d0d0d;
    text-decoration: none;
}

.filtermonth:hover {
    color: #bfbfbf;
}

#filter_science_ul {
    list-style: none;
    text-decoration: none;
    padding: 0px;
}

.filterscience {
    color: #0d0d0d;
    text-decoration: none;
}

.filterscience:hover {
    color: #bfbfbf;
}

#header_nav_ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

#header_nav_ul > li {
    padding: 5px;
}

#footer_nav_ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

#footer_nav_ul > li {
    padding: 5px;
}

.headernavbutton {
    color: #0d0d0d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid transparent;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    border-radius: 2px;
    padding: 5px;
    transition: border 0.3s ease-in-out; /* Smooth transition for the border (thanks ChatGPT!)*/
}

.headernavbutton:hover {
    border: 2px solid #0d0d0d; /* Change border color on hover (again, thanks ChatGPT!) */
    background-color: #0d0d0d;
    color: #ecece9;
}

.footernavbutton {
    color: #bfbfbf;
    text-decoration: none;
}

.footernavbutton:hover {
    color: #cccbcb;
}

/* change margins & centering for entire articles here! */

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: center;
}

#main-content-margin {
    margin: 0px
}

#aarticleheader > h2 {
    text-align: left;
    font-size: 2vw;
    font-weight: 1000;
}

.imageaarticle {
    margin-right: 20px;
    width: 800px;
    height: 500px;
}

#barticleheader > h2 {
    text-align: left;
    font-size: 2vw;
    font-weight: 1000;
}

#carticleheader > h2 {
    text-align: left;
    font-size: 2vw;
    font-weight: 1000;
}

#darticleheader > h2 {
    text-align: left;
    font-size: 2vw;
    font-weight: 1000;
}

#main-content > div {
    width: 80%;
}

form {
    text-align: center;

}

#form_title {
    text-align: center;
    font-size: 2vw;
    font-weight: 1000;
    margin-bottom: 10px;

}

#form_subheading {
    text-align: center;
    margin-top: 0px;
}

body > footer {
    background-color: #0d0d0d;
    color: #bfbfbf;
    margin: 0px;
}
